div#loginDiv {
  width: 100%;
  margin: 0 auto; }
  div#loginDiv a {
    margin-right: 15px;
    font-size: 100%;
    margin-top: 8px; }
  div#loginDiv h1 {
    font-size: 4em; }
  div#loginDiv input[type="submit"] {
    font-size: 125%;
    padding: 10px; }
  div#loginDiv span {
    font-size: 1.25em;
    margin-top: 8px; }
  div#loginDiv label {
    font-size: 2em;
    margin-right: 5px; }
  div#loginDiv input[type="text"], div#loginDiv input[type="password"] {
    padding: 5px;
    font-size: 2em;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 275px; }

div#chat-wrapper {
  width: 100%; }

.switch-div {
  display: none; }
