body {
  font-size: 16px; }

textarea {
  font-size: 16px; }

h5 {
  font-size: 18px; }

div#loginDiv {
  width: 600px;
  margin-top: 150px;
  padding: 50px; }
  div#loginDiv a {
    margin-right: 10px;
    font-size: 14px;
    margin-top: 8px; }
  div#loginDiv h1 {
    font-size: 72px; }
  div#loginDiv input[type="submit"] {
    font-size: 18px; }
  div#loginDiv span {
    font-size: 14px;
    margin-top: 8px; }
  div#loginDiv label {
    font-size: 28px;
    margin-right: 5px; }
  div#loginDiv input[type="text"], div#loginDiv input[type="password"] {
    padding: 5px;
    font-size: 28px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 275px; }
