{% extends "root.html" %}

{% block jscripts %}
    <script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/js/paper-min.js"></script>
    <script type="text/javascript" src="/static/js/scriptcam/scriptcam.js"></script>
    <script type="text/javascript" src="/static/js/javascript.js"></script>
    <script type="text/javascript" src="/static/js/jQuery.dragDrop.plugin.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/dropzone.js"></script>
    <script type="text/javascript" src="/static/js/linkify.js"></script>
    <script type="text/javascript" src="/static/js/humanize.js"></script>
{% endblock %}

{% block body %}
    <!-- children of root_secure.html use this block and result is sent back up to root.html -->
{% endblock %}